<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="php-tests/_bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        defaultTestSuite="ALL"
        verbose="true">

    <!-- phpunit 9+ -->
    <coverage>
        <include>
            <directory suffix=".php">php-src/Connection</directory>
            <directory suffix=".php">php-src/Pointers</directory>
            <directory suffix=".php">php-src/Protocols</directory>
            <directory suffix=".php">php-src/Schemas</directory>
            <directory suffix=".php">php-src/Sockets</directory>
            <file>php-src/RequestException.php</file>
        </include>
        <report>
            <clover outputFile="php-tests/data/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <!-- phpunit 8- -->
    <filter>
        <whitelist>
            <directory suffix=".php">php-src/Connection</directory>
            <directory suffix=".php">php-src/Pointers</directory>
            <directory suffix=".php">php-src/Protocols</directory>
            <directory suffix=".php">php-src/Schemas</directory>
            <directory suffix=".php">php-src/Sockets</directory>
            <file>php-src/RequestException.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
        <log type="coverage-clover" target="php-tests/data/clover.xml" />
    </logging>

    <!-- rest as usual -->
    <testsuites>
        <testsuite name="ALL">
            <directory>php-tests/BasicTests</directory>
            <directory>php-tests/ProtocolsTests</directory>
            <directory>php-tests/ProtocolsTests/Http</directory>
            <directory>php-tests/ProtocolsTests/Restful</directory>
            <directory>php-tests/ProtocolsTests/Fsp</directory>
            <exclude>php-tests/ProtocolsTests/Fsp/RemoteTest.php</exclude>
        </testsuite>
        <testsuite name="Basic">
            <directory>php-tests/BasicTests</directory>
        </testsuite>
        <testsuite name="Protocols">
            <directory>php-tests/ProtocolsTests</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>php-tests/ProtocolsTests/Http</directory>
            <directory>php-tests/ProtocolsTests/Restful</directory>
        </testsuite>
        <testsuite name="Fsp">
            <directory>php-tests/ProtocolsTests/Fsp</directory>
            <exclude>php-tests/ProtocolsTests/Fsp/RemoteTest.php</exclude>
        </testsuite>
        <testsuite name="FspRemote">
            <file>php-tests/ProtocolsTests/Fsp/RemoteTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>